header {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #444;
  color: #f8f8f8;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the height as needed */
  margin-right: 10px;
}

.logo-text {
  font-family: cursive;
  font-size: 24px; /* Adjust the font size as needed */
}

.header-container h1 {
  margin: 0;
}

.header-container nav {
  display: flex;
  gap: 15px;
}

.header-container nav a {
  text-decoration: none;
  color: #f8f8f8;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
}

nav a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  transition: background 0.3s;
}

nav a:hover {
  background-color: #555;
}
