<header>
  <div class="header-container">
    <div class="logo-container">
      <img
        src="../../../public/logo.png"
        alt="Inclusivity Hotel and Spa Logo"
        class="logo"
      />
      <h1 class="logo-text">Inclusivity Hotel and Spa</h1>
    </div>
    <nav>
      <a href="rooms.html">Rooms</a>
      <a href="spa.html">Spa</a>
      <a href="dining.html">Dining</a>
      <a href="gallery.html">Photo Gallery</a>
      <a href="contact.html">Contact Us</a>
    </nav>
  </div>
</header>
