<header>
  <div class="header-container">
    <div class="logo-container">
      <img
        src="../../../public/logo.png"
        alt="Inclusivity Hotel and Spa Logo"
        class="logo"
      />
      <h1 class="logo-text">Inclusivity Hotel and Spa</h1>
    </div>
    <nav>
      <a href="../../pages/rooms/rooms.html">Rooms</a>
      <a href="../../pages/spa/spa.html">Spa</a>
      <a href="../../pages/dining/dining.html">Dining</a>
      <a href="../../pages/gallery/gallery.html">Photo Gallery</a>
      <a href="../../pages/contact/contact.html">Contact Us</a>
    </nav>
  </div>
</header>
