@import url("./components/Header/header.css");
@import url("./components/Footer/footer.css");
@import url("./pages/home/home.css");

html,
body {
  font-family: "Roboto", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  padding-top: 1rem;
  margin: 0;
}

h3 {
  font-family: cursive;
  font-size: 2rem;
  line-height: 1.5;
  color: #83622b;
  margin-top: 0;
  font-weight: normal;
}

main {
  padding: 2rem;
  text-align: center;
  background-color: #ece9da;
}

main p {
  text-align: left;
  padding-left: 20rem;
  padding-right: 20rem;
}
