body,
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background: #c6e4cc;
  color: #000c02;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  /* Ensure the header stays above other content */
  z-index: 1000;
}

/* Navigation bar container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c6e4cc;
  padding: 1rem 2rem;
}

/* Logo styling */
.nav .logo {
  font-size: 1.5rem;
  color: #000c02;
  font-weight: bold;
}

/* Navigation links container */
.nav ul {
  display: flex;
  gap: 1.5rem;
}

/* Navigation links */
.nav ul li a {
  color: #000c02;
  font-size: 1rem;
  transition: color 0.3s ease;
}

/* Hover effect for navigation links */
.nav ul li:hover {
  color: #00d084;
}

nav a {
  color: #000c02;
  text-decoration: none;
  margin: 0 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
}

.hero {
  position: relative;
  background-image: url("../../public/bubble-tea-hero-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  text-align: center;
}

.hero-h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Container for the product cards */
#menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

/* Individual product card styling */
.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
}

/* Product image styling */
.product img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

/* Product title styling */
.product h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

/* Product description styling */
.product p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Product price styling */
.product p:last-child {
  font-weight: bold;
  color: #333;
}

.footer {
  background: #c6ffcc;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.footer-a {
  color: #333;
  text-decoration: none;
  margin: 0 0.5rem;
}
